<p id="notice"><%= notice %></p>
<h1>The <%= @train.depart_time.to_formatted_s %> train</h1>
</p>
<% if @train.riders.any? %>
    <h4>riders</h4>
    <ul>
    <% @train.riders.each do |r| %>
            <li><%= r.name || r.email %></li>
    <% end %>
    </ul>

    <h4>recommended lunch stations</h4>
    <ul>
    <% @train.recommended_stations.each do |station| %>
         <li><%= station.name %><span>score: <%= station.score %></span></li>
    <% end %>
    </ul>
<% end %>


<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>

<% if current_rider.is_on? @train %>
    <%= form_tag off_train_path(@train), method: :delete do %>
        <%= submit_tag "get off this train" %>
    <% end %>
<% else %>
    <%= form_tag on_train_path(@train) do %>
        <%= submit_tag "get on this train" %>
    <% end %>
<% end %>
